<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Random sourcery engine">
    <meta name="author" content="TheMasterR">
    <meta name="robots" content="noindex,nofollow">
    <title>bannersnack creative engine</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <div class="message">
        <%= data.error %>
    </div>
    <script src="/public/js/main.js"></script>
</body>

</html>
