<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Random sourcery engine">
    <meta name="author" content="TheMasterR">
    <meta name="robots" content="noindex,nofollow">
    <title>bannersnack creative engine</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <% if (data.showAlert) { %>
    <script>
        var r = confirm("Are you sure you want to start the branch?");
        if (r == true) {
            window.location.href = `https://${window.location.hostname}/?confirm=true`;
        } else {
            window.location.href = "https://www.bannersnack.com";
        }
    </script>
    <% } %>

    <div id="preloader">
        <div class="outer">
            <div class="infinityChrome">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="infinity">
                <div> <span></span></div>
                <div> <span></span></div>
                <div> <span></span></div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo-outer">
                <defs>
                    <filter id="goo">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blur"></feGaussianBlur>
                        <feColorMatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo">
                        </feColorMatrix>
                        <feBlend in="SourceGraphic" in2="goo"></feBlend>
                    </filter>
                </defs>
            </svg>
        </div>
        <div class="message">
            <p>Your branch is now building & deploying.</p>
            <div id="timer"></div>
        </div>
    </div>
    <div class="wave1"></div>
    <div class="wave3"></div>
    <div class="wave2"></div>

    </a>

    <script>
        // var countDownDate = new Date("Apr 1, 2020 15:37:25").getTime();
        var countDownDate = <%= data.date %>

            var x = setInterval(function () {
                var now = new Date().getTime();
                var distance = countDownDate - now;
                // var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                // var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                document.getElementById("timer").innerHTML = "~" + minutes + "m " + seconds + "s remaining";

                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("timer").innerHTML = "attepting to load app in 5 seconds...";
                    setTimeout(() => location.reload(), 5000);
                }
            }, 100);
    </script>
    <script src="/public/js/main.js"></script>
</body>

</html>